.container{
    /* border: 1px dashed pink; */
    width:100%;
    margin-top: 40px;
}
.container_text{
    margin-left: 30px;
    font-size: 26px;
}
.container_text2{
    margin-left: 30px;
}
.sub_container{
    margin-top: 20px;
    /* border: 1px dashed greenyellow; */
}
/* .image_box{
    border:1px solid black;
} */
.image{
    width:70%;
    /* border: 1px solid rgba(128, 128, 128, 0.203); */
    margin:auto;
    height:70%;

}
.image img {
    height:100%;
    width:100%;
}
.text{
    width:80%;
    /* border: 1px dashed rebeccapurple; */
    margin:auto;
    height:20%;

}

.text p{
    text-align: center;
}