.container {
    background-color: #f4f7fb;
    padding: 4%;
    width:90%;
    margin:4rem auto 0 auto;

  }
  
  .columns_container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 0.5rem;
    margin-bottom: 2rem;
  }
  
  .columns_container > div > div {
    font-size: 1rem;
    margin: 0.8rem 0px;
  }
  
  .columns_container > div > div > div {
    margin: 0.8rem 0px;
  }
  
  .columns_container a {
    text-decoration: none;
    color: #4f585e;
  }
  
  .social_media {
    display: flex;
    gap: 2rem;
  }
  
  .social_media img {
    width: 40px;
    height:40px;
  }
  
  .payment_partners_container {
    display: flex;
    justify-content: space-between;
  }
  
  .payment_partners {
    display: flex;
    gap: 1.5rem;
  }
  
  .payment_partners img {
    height: 30px;
  }
  
  .container h4 {
    color: #4f585e;
    font-size:1.3rem;
    margin: 1rem 0px;
  }
  @media (min-width: 250px) and (max-width:450px){
    .container {
      width:100%;
    }
  }