.container{
    /* border: 1px dashed pink; */
    width:100%;
    margin-top: 40px;
}
.container_text{
    margin-left: 30px;
    font-size: 26px;
}
.sub_container{
    margin-top: 20px;
    /* border: 1px dashed greenyellow; */
    
  
}
.image_box{
    margin:15px;
    /* border:1px solid black; */
    height:220px;
    
    

}
.image{
    width:80%;
    margin:auto;
    height:70%;
    border-radius: 5px;
 

}
.image img {
    height:100%;
    width:100%;
    object-fit: cover;
}
.text{
    width:80%;
    margin:auto;
    height:30%;

}
.text p{
    text-align: center;
    font-size: 14px;
}