.main_container{
    box-sizing: border-box;
    /* border: 1px solid teal; */
    width:94%;
    margin: 0 auto 50px auto;
}
.carousal{
    /* border:1px solid green; */
    width:50%;
    display: flex;
    justify-content: space-around;
    gap:20px;
    margin:30px auto 0 auto;
}
.carousal > img{
    margin:auto;
    width:80%;
    border-radius: 10px;
}

.carousal_second{
    width:30%;
    display: flex;
    justify-content: space-around;
    gap:20px;
    margin:30px auto 0 auto;
}
.carousal_second > img{
    margin:auto;
    width:80%;
    border-radius: 10px;
    height:150px;

}