.main_container{
    box-sizing: border-box;
    /* border: 1px solid teal; */
    width:94%;
    height:100vh;
    margin: auto;
}
.carousal{
    /* border:1px solid green; */
    width:50%;
    display: flex;
    justify-content: space-around;
    gap:20px;
    margin:auto;
}
.carousal > img{
    margin:auto;
    width:80%;
    border-radius: 10px;
}