.container{
    /* border: 1px dashed pink; */
    width:100%;
    margin-top: 40px;
}
.container_text{
    margin-left: 30px;
    font-size: 26px;
}
.container_text2{
    margin-left: 30px;
}
.sub_container{
    margin-top: 20px;
    /* border: 1px dashed greenyellow; */
    
  
}
.image_box{
    margin:15px;
    /* border:1px solid black; */
    height:220px;
}
.image{
    width:40%;
    /* border: 1px solid rgba(128, 128, 128, 0.203); */
    margin:auto;
    height:80%;
    border-radius: 5px;

}
.image img {
    height:100%;
    width:100%;
}
.text{
    width:80%;
    /* border: 1px dashed rebeccapurple; */
    margin:auto;
    height:20%;

}

.text p{
    text-align:left;
}
.text p span{
    text-align:left;
    color:red;
}
.mrp{
    text-decoration: line-through;
    color:grey;
}