.main_navbar{
  /* border: 1px solid red; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
}

.navbar {
  /* border: 1px solid red; */
  width: 100%;
  height: 9vh;
  background-color: rgba(234, 228, 239, 0.134);
 
}
.navbar_part {
  /* border: 1px solid blue; */
  box-sizing: border-box;
  height: 100%;
  width: 94%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
 
}
.navbar_part1 {
  /* border: 1px solid green; */
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.navbar_part1 > div {
  width: 50%;
  height: 100%;
}
.logo {
  position: relative;
  top: 10px;
  left: 10px;
}
.logo_mumbai {
  /* border: 1px solid grey; */
  font-size: 0.8rem;
  padding-left: 3%;
  margin-top:1%;
  color:grey;
}
.logo_mumbai >div> p{
  font-size: 1rem;
  margin-top: 1%;
  color:black;
}
/* .icons{
    border:1px dashed red;
    height:80%;
    width:80%;
} */
.navbar_part2 {
  /* border:1px solid green; */
  height: 70%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 10%;
}
.navbar_part2 > div {
  /* border:1px dashed black; */
  display: flex;
  width: 22%;
  justify-content: space-between;
  margin: auto;
}
.select {
  border: none;
  background: none;
}

.logo_part {
  width: 20%;
  /* border:1px solid red; */
}
.text_part {
  width: 80%;
  /* border:1px solid red; */
  margin-top: 4%;
}
.text_part a {
text-decoration: none;
color:black;
}
.logo_part_background {
  background-color: rgb(238, 244, 255);
}
.small_nav{
  /* border:2px solid blue; */
  height:40px;
  background-color: rgba(170, 232, 233, 0.259);
  
}
.small_navv{
  /* border:2px solid blue; */
  width:60%;
  margin:auto;
  display:flex;
  align-items: center;


  
}
.link{
  /* border:2px solid blue; */
  text-decoration:none;
  color:black;
  margin-left:4%;
  margin-top: 0.9%;
}
.link:hover{
  text-decoration: underline;
}
