.container{
    /* border: 1px dashed pink; */
    width:100%;
    margin-top: 40px;
}
.container_text{
    margin-left: 30px;
    font-size: 26px;
}
.sub_container{
    margin-top: 20px;
    /* border: 1px dashed greenyellow; */
    
  
}
.image_box{
    margin:15px;
    /* border:1px solid black; */
    height:220px;
    
    

}
.image{
    width:80%;
    border: 1px solid rgba(128, 128, 128, 0.203);
    margin:auto;
    height:70%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
.image img {
    height:70%;
    width:80%;
    margin: 20px auto 0 auto;
    object-fit: cover;
}
.text{
    width:80%;
    /* border: 1px dashed rebeccapurple; */
    margin:auto;
    height:20%;

}
.text p{
    text-align: center;
    font-size: 14px;
}